.wa-links-composer_add-button {
    display: flex;
    padding: 5px;
    border: 1px solid #cac1c1;
    border-radius: 4px;
    margin-left: 30px;
}
.wa-links-composer_add-button > *:first-child {
    width: calc(50% - 10px);
    text-align: right;
}
.wa-links-composer_add-button > *:last-child {
    width: calc(50% - 10px);
}
.wa-links-composer_side-button {
    color: transparent;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s;
    transition-property: color, opacity;
    cursor: default;
}
.wa-links-composer_side-button .dashicons {
    color: transparent;
    transition: color 0.3s;
}
.wa-links-composer_side-button__shown {
    color: #8d8d8d;
    cursor: pointer;
    opacity: 1;
}
.wa-links-composer_side-button__shown .dashicons {
    color: #c3c4cf;
}
.wa-links-composer_side-button__shown:hover,
.wa-links-composer_side-button__shown:hover .dashicons {
    color: #2271b1;
}
